ul.keywords {
    margin: 0;
    padding: 0;
}
ul.keywords li {
    display: inline;
    border-radius: 2px;
    background: #eee;
    padding: 2px;
    line-height: 1.5em;
}
dl.record dd:not(.keywords) {
    display: inline-block;
    border-radius: 2px;
    background: #eee;
    padding: 2px;
    line-height: 1.5em;
}
